fastapi==0.115.0
uvicorn[standard]==0.30.1
sqlalchemy==2.0.34
alembic==1.13.2
pydantic==2.9.2
python-dotenv==1.0.1

# Biztonság és jelszókezelés
passlib==1.7.4
bcrypt==4.0.1

# JWT tokenekhez és aláíráshoz
python-jose[cryptography]==3.5.0
ecdsa==0.19.1
rsa==4.9.1
pyasn1==0.6.1